.Login {
	/* height: 100vh; */
	margin: 2rem auto;
	/* display: flex;
	flex-direction: column; */
	padding: 1rem;
}

.Login-btn.btn {
	/* font-weight: 700; */
	padding: 0.6rem 2rem;
	background-color: #1db954;
}
