.MixedGreensApp {
	width: 100%;
	height: '100vh';
}

.MixedGreensApp-hide {
	visibility: hidden;
}

.MixedGreensApp-navbar {
	background-color: #191414;
	/* border-bottom: 1px solid gray; */
	box-shadow: 0 0 0.5rem 0.25rem #444;
	flex-direction: column;
}
.MixedGreensApp-navbar-item {
	padding: 0 1rem;
	color: white;
	/* margin-right: 1rem; */
}

.MixedGreensApp-navbar .MixedGreensApp-navbar-item:not(:last-child) {
	border-right: 1px solid gray;
}

.MixedGreensApp-navbar-border {
	padding: 0;
	border-right: 1px solid gray;
	height: 100%;
}

a.MixedGreensApp-navbar-item {
	text-decoration: none;
}

.MixedGreensApp-navbar-item-btn {
	cursor: pointer;
	transition: transform 0.1s;
}

.MixedGreensApp-navbar-item-btn:hover {
	color: white;
	transform: scale(1.05);
}

.MixedGreensApp-container {
	height: 80%;
	max-width: 800px;
}

.MixedGreensApp-header-top {
	width: 100%;
}

.MixedGreensApp-heading {
	color: white;
	font-size: 1.8rem;
	cursor: default;
	/* font-weight: bold; */
}

.Spotify-logo {
	max-width: 150px;
	min-width: 70px;
}

.Spotify-logo img {
	width: 100%;
}

.Logout-btn {
	font-size: 0.8rem;
	/* background-color: none; */
	/* color: white; */
}

/* @media (min-width: 600px) {
	.MixedGreensApp {
		width: 80%;
	}
} */

.MixedGreensApp-user-not-valid p {
	color: white;
	font-size: 1.4rem;
	text-align: center;
	margin: 0 0.8rem;
}

@media (min-width: 600px) {
	.MixedGreensApp-container {
		width: 90% !important;
	}

	.MixedGreensApp-navbar {
		flex-direction: row;
	}
}
