.Playlist {
	overflow-y: auto;
	/* height: 200px; */
	flex-grow: 1;
	/* max-height: 250px; */
	/* border-bottom: 2px solid #444; */
}

.Playlist-table.table {
	background-color: #191414;
	color: white;
}

.Playlist-table th,
.Playlist-table td {
	border-color: #444;
	word-wrap: break-word;
	max-width: 300px;
	vertical-align: middle;
}

.Playlist-table.table th {
	background-color: #191414;
	color: white;
	text-transform: uppercase;
	position: sticky;
	top: 0;
}

.Playlist-table tr {
	transition: background-color 0.2s, background-color 0.2s;
}

.Playlist-table tr:hover {
	background-color: #aaa;
	color: black;
}
