.SearchBar {
	width: 100%;
	flex-grow: 0;
}

.SearchBar-search-bar {
	/* border-radius: 3rem; */
	transition: box-shadow 0.2s;
}

.SearchBar-search-bar:focus {
	box-shadow: 0 0 0 0.1rem #aaa;
	/* box-shadow: none; */
	/* border: 1px solid #aaa; */
}

.SearchBar-dropdown-menu {
	width: 100%;
	overflow: scroll;
	height: 250px;
}

.SearchBar-dropdown-item {
	cursor: pointer;
	transition: background-color 0.2s;
}

.SearchBar-dropdown-item:active {
	background-color: darkgray;
}

.SearchBar-dropdown-item img {
	height: 50px;
	width: 50px;
	/* border-radius: 50%; */
	object-fit: cover;
}

.SearchBar-genre-icon {
	background-color: gray;
	color: white;
	font-size: 1rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
}

.SearchBar-dropdown-genre {
	text-transform: capitalize;
}
