.SeedCollector {
	/* min-height: 12%; */
	flex-grow: 0;
}

.SeedCollector-main {
	transition: all 1s;
}

.SeedCollector-description {
	color: white;
	font-size: 1.4rem;
	margin: 2rem 0;
	text-align: center;
}

.SeedCollector-seed-container {
	width: 100%;
	flex-wrap: wrap;
	gap: 0rem;
}

.SeedCollector-seed-btn {
	border-radius: 2rem;
	padding: 0 0.5rem;
	margin: 0.1rem 0.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.SeedCollector-action-btn {
	border-radius: 2rem;
	padding: 0.7rem 1.8rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	/* width: 190px; */
}

.SeedCollector-action-btn.btn-success {
	background-color: #1db954;
}

.SeedCollector-seed-btn i {
	color: white;
	margin-left: 0.4rem;
}

@media (min-width: 550px) {
	.SeedCollector-description {
		padding: 1rem;
	}
}
